#catImage {
  max-width: 400px;
  margin-top: 20px;
  display: block;
}

button {
  margin-top: 10px;
}

#favorites {
  margin-top: 30px;
}

.favorite-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.favorite-item img {
  max-width: 100px;
  margin-right: 10px;
}

.delete-button {
  margin-left: 10px;
}
